.politic_top {
	margin-bottom: 50px;

}
.name-title {
	font-family: $font-Roboto;
}

.title-yak,
.title_use-inst,
.title_public-info,
.title-yak-politics {
	font-size: 25px;
	margin-bottom: 20px;
	font-family: $font-Roboto;
}
.title-yak-politics {
	font-size: 30px;
}

.text {
	margin-bottom: 20px;
}

