.politic_top {
	margin-bottom: 50px;
}
.name-title {
	font-family: $font-Roboto;
}

.title-yak,
.title_use-inst,
.title_public-info,
.title-yak-politics {
	font-size: 25px;
	margin-bottom: 20px;
	font-family: $font-Roboto;
}
.title-yak-politics {
	font-size: 30px;
}

.text {
	margin-bottom: 20px;
}

.top__btn {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 50px;
	right: 70px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: $color-bg-div;
	transition: all 0.4s;
}

.svg__btn-up {
	width: 30px;
	height: 30px;
	transition: all 0.4s;
	fill: $color;
	filter: drop-shadow(0 0 10px $color);
	transition: all 0.5s;
}

.top_hide,
.svg__btn-up-hide {
	display: flex;
	width: 0;
	height: 0;
	// bottom: -100%;
	transition: all 0.5s;
}
